.footer {
    background-color:rgb(140, 153, 168);
    color: rgb(255, 251, 251);
    text-align: center;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid black;
    bottom: 0px;
    position: fixed;
    width: 100%;
}